WebService/text.txt
/Tests
/InterfataFirma/InterfataFirma/nbproject/private/
WebService/nbproject/project.xml
InterfataFirma/nbproject/private/private.xml
WebService/error
InterfataFirma/nbproject/private/private.xml
WebService/nbproject/private/private.xml